services:
  - docker

language: python
os: 
  - linux
dist: xenial

env:
  global:
    - COMMIT=${TRAVIS_COMMIT::8}

before_install:
  - docker build -t cicdbuzz:${COMMIT} .
  - export VERSION=$(curl --silent "https://api.github.com/repos/aquasecurity/trivy/releases/latest" | grep '"tag_name":' | sed -E 's/.*"v([^"]+)".*/\1/')
  - wget https://github.com/aquasecurity/trivy/releases/download/v${VERSION}/trivy_${VERSION}_Linux-64bit.tar.gz
  - tar zxvf trivy_${VERSION}_Linux-64bit.tar.gz
  - curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl
  - chmod +x ./kubectl
  - sudo mv ./kubectl /usr/local/bin/kubectl
  - mkdir ${HOME}/.kube
  - echo "$KUBE_CONFIG" | base64 --decode > ${HOME}/.kube/config

script:
  - python -m pytest -v
  - ./trivy --exit-code 0 --severity HIGH --no-progress cicdbuzz:${COMMIT}
  - ./trivy --exit-code 0 --severity CRITICAL --no-progress cicdbuzz:${COMMIT}
  - kubectl get pods --insecure-skip-tls-verify=true

cache:
  directories:
    - $HOME/.cache/trivy


after_success:
  - sh .travis/deploy_dockerhub.sh

deploy:
  provider: script
  script: kubectl apply -f deployment.yaml --insecure-skip-tls-verify=true
  on:
    tags: true
    all_branches: true
